h1 {
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid black;
  font-size: 1rem;
  color: black;
}
