/* style */
* {
  box-sizing: border-box;
}

body {
  background-color: #775fc0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 0 2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.relative {
  position: relative;
}

/* form {
  z-index: 0;
} */

.form-control {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

#email,
#name {
  margin-top: 0.5rem;
  height: 2rem;
}

#choice {
  margin-top: 0.5rem;
  height: 1.5rem;
}

.submit {
  margin: 1rem 0;
  cursor: pointer;
  padding: 0.7rem;
}

/* .model_overlay {
  position: absolute;
  top: 100%; /* Position it below the form */
  /* left: 0;
  width: 100%;
} */ 

.open {
  position: absolute;
  left: 20rem;
  right: 20rem;
  bottom: 6rem;
  z-index: 1;
}

.model_close {
  display: none;
  position: absolute;
  left: 35rem;
  right: 1rem;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  background-color: rgb(221, 85, 85);
  cursor: pointer;
}

.model_close.show {
  display: block;
}

h1 {
  padding-top: 1rem;
}

.tc {
  padding-bottom: 1rem;
}
